html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #283136;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Roboto', "Arial", sans-serif;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  font-weight: 500;
  font-family: 'Roboto', "Arial", sans-serif;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
  font-weight: 500;
  font-family: 'Roboto', "Arial", sans-serif;
  text-transform:uppercase;
}

h3 {
  margin: 0;
  padding: 0;
    font-size: 16px;
  line-height: 22px;
  color: #000000;
  font-weight: 500;
  font-family: 'Roboto', "Arial", sans-serif;
  text-transform:uppercase;
}

p {
  margin: 0;
  padding: 0;
}

.head {
  font-size: 36px;
  line-height: 36px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 880px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
    display:block;
    padding:10px 0;
    font-size:12px;
  line-height: 18px;
    color:white;
    text-transform:uppercase;
    text-align:center;
    text-decoration:none;
    border-radius:3px;
}

.btn:active {
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.main-header {
  margin-bottom: 80px;
  background: #eeeeee;
}

.main-header .container {
  padding-top: 27px;
}

.index-logo {
  float: left;
  width: 139px;
  margin-right: 160px;
}

.main-navigation {
  float: left;
  padding-top: 27px;
  width: 450px;
}

.navigation-ul, .links-ul, .styled-ul, .sort-ul, .pages-ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.navigation-ul li {
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  margin: 0 22px;
}

.main-navigation a, .btn-cart a {
  padding-bottom: 4px;
  text-decoration: none;
  color: #283136;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform:uppercase;
  font-family: 'Roboto', "Arial", sans-serif;
}

.main-navigation a:hover, .btn-cart a:hover {
  color: #fb565a;
}

.main-navigation a:active, .btn-cart a:active {
  color: #8f8f8f;
}

.active {
  border-bottom: 2px solid #fb565a;
}

.user-blok {
  float: right;
  padding-top: 27px;
  padding-bottom: 43px;
}

.btn-cart {
 position: relative;
}

.btn-cart a {
  width: 65px;
  padding-left: 30px;
}


.btn-cart a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -5px 0;
  opacity: 0.3;
}

.btn-cart a:hover::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -5px -25px;
  opacity: 1;
}

.btn-cart a:active::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -5px 0;
  opacity: 0.15;
}

.slider{
    position:relative;
    width:880px;
    height:310px;
    margin:0 auto;
}
.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
    position:absolute;
    bottom:95px;
    left:50%;
    width:200px;
    height:10px;
    margin-left: -110px;
    text-align:center;
    z-index:1000;
}
.slider-controls label{
    display:inline-block;
    width:4px;
    height:4px;
    margin:0 3px;
    background:white;
    border:3px solid white;
    vertical-align:top;
    border-radius:50%;
    cursor:pointer;
}
#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}
.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width: 500px;
    padding: 30px 0;
    color: #283136;
}
.slide-title{
  margin-bottom: 17px;
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    color:black;
}

.slide p {
    margin-bottom: 28px;
}

.slide .btn{
    width:240px;
    background:#fb565a;
}

.slide .btn:hover{
    background:#d6494d;
}

.slide:nth-child(1){
    background-image:url('../img/slade-one.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(2){
    background-image:url('../img/slade-two.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/slade-three.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}

.index-services, .index-about, .index-links {
    font-size: 0;
    border-bottom: 2px solid #eeeeee;
}
.services-block {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;
    font-size: 15px;
}

.services-block:nth-child(3n){
  margin-right: 0;
}

.services-block img {
  margin-bottom: 16px;
}

.services-block h2 {
  margin-bottom: 14px;
}

.services-block p {
  margin-bottom: 26px;
}

.services-block .btn {
    width: 140px;
}

.services-block:nth-child(1) .btn {
  background: #fb565a;
}

.services-block:nth-child(1) .btn:hover {
  background: #d6494d;
}

.services-block:nth-child(2) .btn {
  background: #00ca74;
}

.services-block:nth-child(2) .btn:hover {
  background: #01a25e;
}

.services-block:nth-child(3) .btn {
  background: #efc84a;
}

.services-block:nth-child(3) .btn:hover {
  background: #d6ae2c;
}

.index-about {
  padding-top: 58px;
  padding-bottom: 50px;
  font-size: 16px;
}

 .about-top {
   margin-bottom: 44px;
}

.about-top .head {
  margin-top: 12px;
  margin-bottom: 18px;
}

.styled-ul {
  font-size: 16px;
}

.left {
  float: left;
  width: 580px;
}

.right {
  float: right;
  width: 240px;
}

.about-bottom h3 {
  margin-bottom: 21px;
}

.styled-ul li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
}

.styled-ul li::before {
  content: '';
  position: absolute;
      top: 50%;
    left: 0;
    display: block;
    width: 23px;
    border: 1px solid #fb565a;
}

.links-ul {
  padding-top: 45px;
  padding-bottom: 20px;
}

.links-ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 290px;
}

.links-ul a {
  opacity: 0.2;
}

.links-ul a:hover {
  opacity: 1;
}

.main-footer {
  margin-top: 85px;
}

.footer-map, .container:last-child {
  margin-bottom: 74px;
}

.footer-map {
  height: 416px;
  background: url('../img/map.jpg') center no-repeat;
}

.footer-map .container {
  position: relative;
}

.footer-feedback {
  position: absolute;
  left: 10px;
  top: 87px;
  width: 204px;
  height: 184px;
  padding: 28px 23px;
  background: #ffffff;
  font-size: 16px;
  line-height: 20px;
  color: #666666;
}

.footer-feedback h3 {
  margin-bottom: 15px;
}

.footer-feedback p {
  margin-bottom: 20px;
}

.footer-feedback .btn {
  margin-top: 31px;
  background:#fb565a; 
}

.footer-feedback .btn:hover {
  background:#d6494d;
}

.modal-content {
  display: none;
}

.footer-social {
  float: left;
  width: 240px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.footer-social a {
  position: relative;
  display: inline-block;
  width: 61px;
  height: 61px;
  margin: 0 12px;
  background: #e1e1e1;
  border-radius: 50%;
}

.footer-social a:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 20px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -5px -290px;
  opacity: 1;
}

.footer-social a:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 22px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position: -5px -191px;
  opacity: 1;
}


.footer-social a:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 21px;
  height: 21px;
  background: transparent url("../img/spritesheet.png") no-repeat;
  background-position:  -5px -223px;
  opacity: 1;
}

.footer-social a:hover {
background: #fb565a;
}

.footer-social a:active {
  background: #d6494d;
  box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.2) inset;
}

.footer-social a:first-child {
  margin-left: 0;
}

.footer-social a:last-child {
  margin-right: 0;
}

.footer-discounts {
  float: right;
  width: 560px;
}

.footer-discounts .head {
  margin-bottom: 10px;
}

.header-topic {
  margin-top: 74px;
  margin-bottom: 94px;
}

.catalog-filter {
  float: left;
  width: 240px;
  margin-right: 80px;
}

.filters fieldset {
  border: none;
}

.catalog {
  float: right;
  width: 560px;
}

.catalog-sort span {
  float: left;
  width: 105px;
}

.catalog-sort .sort-ul {
  float: left;
  width: 375px;
}

.sort-ul li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 30px;
  margin: 0 23px;
}

.template-arrows {
  float: right;
  width: 28px;
}

.catalog-list {
    font-size: 0;
}

.catalog-item {
    display: inline-block;
    vertical-align: top;
    width: 240px;
    margin-right: 80px;
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 22px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
}

.item-hidden {
  position: absolute;
}

.pages-ul li{
  display: inline-block;
  vertical-align: top;
  width: 20px;
  margin: 0;
  margin-right: 10px;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.pages-ul li:last-child{
  width: auto;
  padding: 0 15px;
}
