html,
body {
  margin: 0;
  padding: 0;
}

body {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: bold;
    font-family: "Roboto Medium";
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Medium";
}

h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Medium";
}

.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}
    
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header {
  margin-bottom: 80px;
}

.index-logo {
    float: left;
    width: 139px;
}

.main-navigation {
    float: right;
    width: 560px;

}

.btn-cart {
    float: right;
    width: 100px;
}

.slider {
    display: inline-block;
}

.services-block {
    float: left;
    width: 240px;
    margin-left: 80px;
}
.services-block:last-child {
    margin-left: 0;
}

.left {
    float: left;
    width: 620px;    
}

.right {
    float: right;
    width: 240px;
}

.main-footer {
    margin-top: 80px;
}

.footer-social {
    float: left;
    width: 240px;
}

.footer-discounts {
    float: right;
    width: 580px;
}


/*======================================
 Системное оформление - не изменять
=======================================*/

body {
  padding: 3px;
}

body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  display: none;
}

body > *::before {
  top: -3px;
  left: -3px;
}

body > * > *::before {
  top: -3px;
  left: -3px;
}

body > * > * > *::before {
  top: 0;
  left: 0;
}

body > * {
  background: rgba(0, 128, 0, 0.2);
  box-shadow: 0 0 0 3px green;
}

body > *::before {
  color: white;

  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  box-shadow: 0 0 0 3px rgb(255, 45, 82);
}

body > * > *::before {
  color: white;

  background: rgb(255, 45, 82);
}

body > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  box-shadow: inset 0 0 0 2px rgb(234, 255, 45);

}

body > * > * > *::before {
  color: black;

  background: rgb(234, 255, 45);
}

.main-header::before {
  content: ".main-header";
}

.container::before {
  content: ".container";
}

.main-header .container::before {
  top: auto;
  bottom: -28px;
}

.main-navigation::before {
  content: ".main-navigation";
}

.user-block::before {
  content: ".user-block";
}

.index-logo::before {
  content: ".index-logo";
}

.features::before {
  content: ".features";
  top: -28px;
}

.features-item::before {
  content: ".features-item";
}

.index-content::before {
  content: ".index-content";
}

.index-content-left::before {
  content: ".index-content-left";
  left: auto;
  right: 0;
}

.index-content-right::before {
  content: ".index-content-right";
  left: auto;
  right: 0;
}

.main-footer::before {
  content: ".main-footer";
}

.main-footer .container::before {
  top: -28px;
}

.footer-contacts::before {
  content: ".footer-contacts";
}

.footer-social::before {
  content: ".footer-social";
}

.footer-copyright::before {
  content: ".footer-copyright";
}