html,
body {
  margin: 0;
  padding: 0;
}

body {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: bold;
    font-family: "Roboto Medium";
}

h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Medium";
}

h2 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Medium";
}


.main-header {
    margin-bottom: 80px;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
    width: 880px;
    margin: 0 auto;
}

.index-logo {
    float: left;
    width: 139px;
}

.main-navigation {
    float: left;
    width: 400px;
}

.btn-cart {
    float: right;
    width: 100px;
}

.slider, .index-services, .index-about, .about-top, .about-bottom, .index-links, .footer-map  {
    display: inline-block;
}

.services-block {
    float: left;
    width: 240px;
}

.left {
    float: left;
    width: 590px;    
}

.right {
    float: right;
    width: 240px;
}

.footer-social {
    float: left;
    width: 240px;
}

.footer-discounts {
    float: right;
    width: 580px;
}